<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rcloud.spelldao.dao.goodsdetails.GoodsDetailsEntityMapper">
    <resultMap id="BaseResultMap" type="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntity">
        <id column="gd_id" property="gdId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    gd_id, goods_id, name, details
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntityExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from mall_goods_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select 'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from mall_goods_details
        where gd_id = #{gdId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_goods_details
    where gd_id = #{gdId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntityExample">
        delete from mall_goods_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntity">
    insert into mall_goods_details (gd_id, goods_id, name, 
      details)
    values (#{gdId,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntity">
        insert into mall_goods_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gdId != null">
                gd_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="details != null">
                details,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gdId != null">
                #{gdId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntityExample"
            resultType="java.lang.Integer">
        select count(*) from mall_goods_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update mall_goods_details
        <set>
            <if test="record.gdId != null">
                gd_id = #{record.gdId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.details != null">
                details = #{record.details,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update mall_goods_details
        set gd_id = #{record.gdId,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        details = #{record.details,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntity">
        update mall_goods_details
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
        </set>
        where gd_id = #{gdId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rcloud.spellentity.entity.goodsdetails.GoodsDetailsEntity">
    update mall_goods_details
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR}
    where gd_id = #{gdId,jdbcType=INTEGER}
  </update>


    <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select 'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from mall_goods_details
        where goods_id = #{goodsId,jdbcType=VARCHAR}
    </select>
</mapper>